{{- $email := or (env "CHEZMOI_EMAIL") (promptString "Email address") -}}
{{- $user := or (env "CHEZMOI_USER") (promptString "User name") -}}

[data]
    email = {{ $email | quote }}
    user = {{ $user | quote }}
