{{- if eq .chezmoi.hostname "minira" }}
# If not running interactively, don't do anything (leave this at the top of this file)
[[ $- != *i* ]] && return

# All the default Omarchy aliases and functions
# (don't mess with these directly, just overwrite them here!)
source ~/.local/share/omarchy/default/bash/rc


# Add your own exports, aliases, and functions here.
#
# Make an alias for invoking commands you use constantly
# alias p='python'
{{- end }}

alias pbcopy='socat - UNIX-CLIENT:$HOME/.clipper.sock'
alias g="git"
alias t="tig"

# functions
function chpwd() { ls; }
function setdefaulteditor() {
  if [ "$TERM_PROGRAM" = "vscode" ]; then
    export EDITOR="code -w"
    export TIG_EDITOR="vscode-for-tig"
  else
    export EDITOR="vim"
  fi
}
setdefaulteditor

# exports
export PATH="$HOME/bin:$PATH"
