#!/usr/bin/env bash
set -euo pipefail

{{- if eq .chezmoi.os "linux" }}
yay -S --noconfirm --needed \
    zsh \
    bitwarden-cli \
    vim \
    ghq \
    tig \
    pinact \
    go \
    tmux-plugin-manager \
    ijq
{{- else if eq .chezmoi.os "darwin" }}
brew install \
    zsh \
    bitwarden-cli \
    vim \
    ghq \
    tig \
    pinact \
    go \
    ijq
{{- end }}
